<div class="header">
    <div class="header_wrapper">
        <a href="/" class="header_logo">
            <span class="wi wi-day-sunny"></span>
        </a>
        <h1 class="header_brand">forecast</h1>
        <div class="header_right-bloc">C
            <!-- <ui-switch
            class="header__unit-switcher"
            size="small"
            color="#B5B5B5"
            [checked]="!isUnitSwitcherChecked"
            (change)="onChangeUnitSwitcher()">
            ></ui-switch> -->
            F
        </div>
    </div>
</div>